<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS Partials</title>
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/utility.css">
</head>
<header>
  <nav class="flex-0 justify-spc-btw align-center">
      <div class="logo flex-0 justify-center align-center">
          <img height="45" src="./images/navbar/nexora-logo.png" alt="">
      </div>
      <div class="options">
          <ul class="padding-0 flex-0">
              <li class="list-style"><span><a class="nav-font text-decoration" href="">Home</a></span></li>
              <li class="list-style"><span><a class="nav-font text-decoration" href="">New Post</a></span></li>
              <li class="list-style"><span><a class="nav-font text-decoration" href="">Commuity</a></span></li>
              <li class="list-style"><span><a class="nav-font text-decoration" href="">About</a></span></li>
              <li class="list-style"><span><a class="nav-font text-decoration" href="">Contact</a></span></li>
          </ul>
      </div>
  </nav>
</header>
<main class="container">