    <div class="right right-side-bar black-bg-1">
        <div class="close-ham-btn-container">
            <img id="closeHamBtn" height="24" src="./svgs/nav_bar/close.svg" alt="Close button">
        </div>
        <ul class="padding-0 flex-column-0 align-center">
            <li class="list-style"><span><a class="nav-font text-decoration" href="/">Home</a></span></li>
            <% if (locals.page !== "newPost") { %>
                <li class="list-style"><span><a class="nav-font text-decoration" href="/new-post">New Post</a></span></li>
            <% } %>
            <li class="list-style"><span><a class="nav-font text-decoration" href="/in-development">Community</a></span></li>
            <% if (locals.page !== "about") { %>
                <li class="list-style"><span><a class="nav-font text-decoration" href="/about">About</a></span></li>
            <% } %>
            <% if (locals.page !== "contact") { %>
                <li class="list-style"><span><a class="nav-font text-decoration" href="/contact">Contact</a></span></li>
            <% } %>
            <% if (locals.isAuthenticated) { %>
                <li class="list-style"><button id="log-out-btn" class="nav-font"><a class="text-decoration" href="/logout">Log out</a></button></li>
            <% } else { %>
                <li class="list-style"><button id="sign-up-btn" class="nav-font"><a class="text-decoration white-text" href="/register">Sign up</a></button></li>
                <li class="list-style"><button id="log-in-btn" class="nav-font"><a class="text-decoration" href="/login">Log in</a></button></li>
            <% } %>
        </ul>
    </div>
