GOOGLE_CLIENT_ID="123456789123-XXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="XXXXXXX-XXXXXXXXXX-XXXXXXXXXXX-XXXXXXXX"
SESSION_SECRET="SOME_SECRET"
ENVIRONMENT="local"
PGL_USER="postgres"
PGL_HOST="localhost"
PGL_DATABASE="mydb"
PGL_PASSWORD="mypassword"
PGL_PORT="5432"
PGL_SCHEMA="public"
SUPPORT_EMAIL_ADDRESS="example@example.com"
SUPPORT_EMAIL_PASSWORD="mypassword"
SUPPORT_EMAIL_PROVIDER="example"
REDIS_HOST="redis"
REDIS_PORT="6379"
CACHING_ENVIRONMENT="local"
CLOUDINARY_CLOUD_NAME="XXXXXXXX"
CLOUDINARY_API_KEY="123456789"
CLOUDINARY_API_SECRET="XXXXXXXXXXXXXXXXXXXXXXXXXXX"
