<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/utility.css">
    <link rel="stylesheet" href="../css/media_queries.css">
    <style>
        h1 > span {
            color: #3e3f3c;
            font-family: 'EB Garamond', sans-serif;
            font-size: 44px;
            font-weight: 400;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body class="old-skool-bg padding-0 margin-0 flex-0 width-100p overflo-x-hidden">
    <div class="left">
        <header>
            <nav class="black-bg-1 flex-0 justify-spc-btw align-center">
                <div class="logo flex-0 justify-center align-center">
                    <img class="invert" height="45" src="../images/nav_bar/nexora-logo.png" alt="App logo">
                </div>
                <div class="options">
                    <ul class="padding-0 flex-0 align-center">
                        <li class="list-style"><span><a class="nav-font text-decoration" href="/">Home</a></span></li>
                        <li class="list-style"><span><a class="nav-font text-decoration" href="/new-post">New Post</a></span></li>
                        <li class="list-style"><span><a class="nav-font text-decoration" href="/in-development">Community</a></span></li>
                        <li class="list-style"><span><a class="nav-font text-decoration" href="/contact">Contact</a></span></li>
                        <% if (locals.isAuthenticated) { %>
                            <li class="list-style"><button id="log-out-btn" class="nav-font"><a class="text-decoration" href="/logout">Log out</a></button></li>
                        <% } else { %>
                            <li class="list-style"><button id="sign-up-btn" class="nav-font"><a class="text-decoration white-text" href="/register">Sign up</a></button></li>
                            <li class="list-style"><button id="log-in-btn" class="nav-font"><a class="text-decoration" href="/login">Log in</a></button></li>
                        <% } %>
                    </ul>
                    <div class="hamburger">
                        <img height="30" src="../svgs/nav_bar/hamburger.svg" alt="Hamburger icon">
                    </div>
                </div>
            </nav>
        </header>
        <main class="flex-column-0 justify-spc-btw align-center">
            <div class="about-container text-align-center">
                <h1><span>About Me</span></h1>
                <div class="profile-container">
                    <img id="profile-picture" src="../images/IMG_20230611_185820-01_crop.jpeg" alt="Profile picture">
                </div>
                <p class="blog-post-desc about-desc text-align-justify">
                Quam purus justo enim purus, dolor enim, ut eu lectus nam eget nibh. Ante illum nullam leo, vivamus aliquam massa
                massainceptos fermentum porttitor, blandit vehicula, lorem in placerat ut aliquam at sociosqu. Vivamus duis
                ultricies
                aliquam placerat, tincidunt scelerisque imperdiet, egestas erat vel. Libero rerum. Donec ligula tristique, purus
                montes,
                feugiatid nunc in a nec. Duis odio, vitae sed etiam mi massa, laoreet amet purus amet rhoncus, eget sed, arcu
                urna.
                Maecenaswisi id, at donec enim. Proin nisl, pulvinar leo suspendisse, cum parturient non, congue leo et ut in,
                neque ut
                lacusauctor quam fermentum urna. Metus quis, mauris dictum aptent ultrices nulla viverra ornare, tempor elit enim
                leo
                donec,sed sed. Vivamus sapien facilisi, tempor arcu nulla justo sed et, eget suspendisse lacus sed nunc mattis
                lectus.
                Metusgravida.</p>
            </div>
        </main>
        <%- include('partials/footer.ejs'); -%>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </div>

    <%- include('partials/sidebar.ejs', { isAuthenticated: isAuthenticated, page: page }); -%>

    <script src="../scripts/script.js" charset="UTF-8"></script>

</body>

</html>