
@media (max-width: 1020px) {

    .contact-form > .form-fields input,
    .contact-form > .form-fields textarea,
    .contact-form > .form-fields select,
    .contact-form > .form-fields label {
        width: 500px;
    }

    :root {
        --sidebarTransform: translateX(325%);
    }

}

@media (max-width: 950px) {

    .contact-form > .form-fields input,
    .contact-form > .form-fields textarea,
    .contact-form > .form-fields select,
    .contact-form > .form-fields label {
        width: 400px;
    }

    :root {
        --sidebarTransform: translateX(300%);
        --asideWidth: 100%;
    }

    .main-container {
        /* width: 100%; */
        height: auto;
        flex-direction: column;
    }

    .recent-post-card .image-container {
        display: flex;
    }

    .recent-post-container {
        width: 100%;
        height: 350px;
    }

    .recent-post-card {
        width: 100%;
        height: 350px;
        padding: 30px;
        gap: 20px;
    }

    .recent {
        height: 135px;
    }

    .check-it-out-container {
        flex-direction: column-reverse;
    }

    .check-it-out-card-container {
        width: 100%;
        height: 350px;
    }

    .check-it-out-card {
        width: 100%;
        height: 350px;
        padding: 30px;
        gap: 20px;
    }

    .review-container {
        height: auto;
        overflow-y: unset;
    }

}

@media (max-width: 920px) {

    .contact-form > .form-fields input,
    .contact-form > .form-fields textarea,
    .contact-form > .form-fields select,
    .contact-form > .form-fields label {
        width: 400px;
    }

    :root {
        --sidebarTransform: translateX(290%);
    }

}

@media (max-width: 860px) {

    .close-ham-btn-container {
        display: block;
        position: absolute;
        right: 25px;
        cursor: pointer;
    }

    .hamburger {
        display: block;
    }

    .options > ul {
        display: none;
    }

}

@media (max-width: 820px) {

    .contact-form > .form-fields input,
    .contact-form > .form-fields textarea,
    .contact-form > .form-fields select,
    .contact-form > .form-fields label {
        width: 300px;
    }

    :root {
        --sidebarTransform: translateX(260%);
    }

}

@media (max-width: 720px) {

    .contact-container {
        width: 100%;
    }

    .contact-form > .form-fields input,
    .contact-form > .form-fields textarea,
    .contact-form > .form-fields select,
    .contact-form > .form-fields label {
        width: 200px;
    }

    :root {
        --sidebarTransform: translateX(225%);
    }

}

@media (max-width: 620px) {

    .contact-container {
        flex-direction: column;
    }

    .contact-form > .form-fields input,
    .contact-form > .form-fields textarea,
    .contact-form > .form-fields select,
    .contact-form > .form-fields label {
        width: 500px;
    }

    :root {
        --sidebarTransform: translateX(200%);
    }

    .footer-info-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .check-it-out-card-container {
        width: 100%;
        height: 400px;
    }

    .check-it-out-card {
        width: 100%;
        height: 400px;
        padding: 30px;
        gap: 20px;
    }

}

@media (max-width: 600px) {

    /* :root {
        --asideWidth: 100%;
    } */

    .content-list {
        height: auto;
        overflow-y: unset;
    }

    main .blog-card {
        height: 570px;
        flex-direction: column;
        gap: 20px;
    }

    .recent-post-container {
        height: 620px;
    }

    .recent-post-card {
        height: 620px;
        flex-direction: column;
        gap: 20px;
    }

}

@media (max-width: 520px) {

    .contact-form > .form-fields input,
    .contact-form > .form-fields textarea,
    .contact-form > .form-fields select,
    .contact-form > .form-fields label {
        width: 400px;
    }

    :root {
        --sidebarTransform: translateX(165%);
        --posterHeight: 280px;
        --posterWidth: 400px;
    }

    .check-it-out-card-container {
        width: 100%;
        height: 440px;
    }

    .check-it-out-card {
        width: 100%;
        height: 440px;
        padding: 30px;
        gap: 20px;
    }

}

@media (max-width: 420px) {

    .contact-container {
        box-sizing: border-box;
    }

    .contact-form > .form-fields input,
    .contact-form > .form-fields textarea,
    .contact-form > .form-fields select,
    .contact-form > .form-fields label {
        width: 300px;
    }

    :root {
        --sidebarTransform: translateX(135%);
        --posterHeight: 210px;
        --posterWidth: 300px;
    }

    .footer-info-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .check-it-out-card-container {
        width: 100%;
        height: auto;
    }

    .check-it-out-card {
        width: 100%;
        height: auto;
        padding: 30px;
        gap: 20px;
    }

}

@media (max-width: 320px) {

    .lottie-container {
        width: 200px;
        height: 200px;
    }

    .contact-form > h1 {
        text-align: center;
    }

    .contact-form > form {
        align-items: center;
    }

    .contact-form > .form-fields input,
    .contact-form > .form-fields textarea,
    .contact-form > .form-fields select,
    .contact-form > .form-fields label {
        width: 200px;
    }

    :root {
        --sidebarTransform: translateX(105%);
        --posterHeight: 200px;
        --posterWidth: 200px;
    }

    .right-side-bar {
        width: 100%;
    }

    /* .upload-poster {
        width: 200px;
        height: 200px;
    } */

    #uploadPoster {
        width: 200px;
        height: 200px;
    }

    #imgView {
        width: 150px;
        height: 150px;
        position: relative;
    }

    #imgView img {
        width: 80px;
        height: 80px;
    }

    #uploadPoster span:nth-child(2) {
        font-size: 10px;
        padding: 8px;
    }

    #uploadPoster span {
        font-size: 8px;
    }

}

@media (max-width: 260px) {

    .footer-info-grid {
        grid-template-columns: repeat(1, 1fr);
    }

}





